.weather{
  place-self: center;
  padding: 40px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #e5316e, #5312df);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBar{
  display: flex;
  align-items: center;
  gap: 12px;
}
.searchBar input {
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}
#search{
  height: 50px;
  width: 50px;
  padding: 15px;
  background: #ebfffc;
  border-radius: 50%;
  cursor: pointer;
}
.weather-icon{
  height: 100px;
  width: 100px;
  margin: 30px 0;
}
.temperature{
  color: #fff;
  font-size: 70px;
  line-height: 1;
}
.location{
  color: #fff;
  font-size: 30px;
}
.weather-data{
  width: 100%;
  margin-top: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.weather-data .col{
  display: flex;
  align-items: flex-start;
  gap: 10px;
  font-size: 22px;
}
.weather-data .col span{
  display: block;
  font-size: 16px;
  color: #fff; 
}
.weather-data .col img{
  height: 26px;
  width: 26px;
  margin-top: 10px;
}